@import url("https://fonts.googleapis.com/css?family=Gochi+Hand|Sniglet|Freckle+Face|Libre+Barcode+39+Text");

html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(180, 180, 180);
    font-size: 1.6rem;
    font-family: 'Sniglet', serif;
}

.center {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-box {
    background-color:rgb(170, 170, 170);
    height: 15rem;
    width: 30rem;
    text-align: center;
    font-family: 'Freckle Face', serif;
}

#header-box > h1 {
    font-size: 5rem;
}

#scores-section {
    height: 15rem;
}

#score-is {
    height: 5rem;
    font-family: 'Gochi Hand', serif;
    font-size: 2rem;
}

#scores-container {
    background-color:rgb(170, 170, 170);
    height: 10rem;
    width: 30rem;
    font-family: 'Gochi Hand', serif;
    font-size: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.score-box {
    background-color:rgb(160, 160, 160);
    height: 10rem;
    width: 10rem;
}

#game-cover {
    opacity:0.95;
    visibility: visible;
    background-color:rgb(150, 150, 150);
    backdrop-filter: blur(5px);
    font-size: 2rem;
    position: fixed;
    top: 16rem;
    height: 62rem;
    width:100%;
    z-index:100;
    display: flex;
    flex-direction: column;
}

#rules-box {
    width: 25rem;
}

#username-ruleset {
    font-size: 1.25rem;
}

#round-is {
    height: 5rem;
    font-family: 'Gochi Hand', serif;
    font-size: 2.25rem;
}

#question-container {
    background-color:rgb(170, 170, 170);
    height: 36rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#question-box {
    background-color: rgb(160, 160, 160);
    height: 25rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#player-picture {
    background: url(.//images/logo-robot.png);
    background-position: center;
    background-size: cover;
    height: 15rem;
    width: 15rem;
}

#question-display {
    background-color:rgb(150, 150, 150);
    height: 10rem;
    width: 30rem;
    text-align: center;
}

#answer-display {
    background-color:rgb(160, 160, 160);
    height: 10rem;
    width: 30rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.answer {
    background-color:rgb(150, 150, 150);
    height: 4rem;
    width: 11rem;
}

#answer-cover {
    opacity:0.95;
    visibility: hidden;
    background-color:rgb(150, 150, 150);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 52rem;
    height: 26rem;
    width: 30rem; 
    z-index:100;
    display: flex;
    flex-direction: row;
}

#play-again-cover {
    opacity:0.95;
    visibility: hidden;
    background-color:rgb(150, 150, 150);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 52rem;
    height: 26rem;
    width: 30rem; 
    z-index:100;
    display: flex;
    flex-direction: row;
}

#button-container {
    background-color:rgb(160, 160, 160);
    height: 5rem;
    width: 30rem;
}

#footer-box {
    background-color:rgb(170, 170, 170);
    height: 5rem;
    width: 100%;
    text-align: center;
    font-family: 'Libre Barcode 39 Text';
    font-size: 3rem;
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
}

.socials-links {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.socials-icon {
    width: 5rem;
}

@media only screen and (min-width: 576px) {
    
    #header-box {
        width: 55rem;
    }

    #question-container {
        height: 30rem;
        width: 55rem;
    }

    #footer-box {
        width: 100%;
    }

    #question-box {
        width: 55rem;
        flex-direction: row;
    }

    #player-picture {
        height: 15rem;
        width: 15rem;
    }

    #answer-display {
        width: 55rem;
    }

    #answer-cover {
        width: 55rem;
    }
}

@media only screen and (min-width: 768px) {

    #header-box {
        width: 75rem;
        font-size: 2.5rem;
    }    

    #header-box > h1 {
        font-size: 10rem;
    }

    #question-container {
        height: 30rem;
        width: 75rem;
    }

    #footer-box {
        width: 100%;
    }

    #question-box {
        width: 75rem;
        font-size: 2.5rem;
    }

    #player-picture {
        height: 25rem;
        width: 25rem;
    }

    #question-display {
        height: 25rem;
        width: 45rem;
    }

    #answer-display {
        width: 75rem;
    }

    #answer-cover {
        width: 75rem;
    }

}