html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(180, 180, 180);
    font-size: 1.6rem;
}

.center {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-box {
    background-color:rgb(170, 170, 170);
    height: 9rem;
    width: 30rem;
    text-align: center;
}

#scores-container {
    background-color:rgb(170, 170, 170);
    height: 10rem;
    width: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.score-box {
    background-color:rgb(160, 160, 160);
    height: 7rem;
    width: 10rem;
}

#question-container {
    background-color:rgb(170, 170, 170);
    height: 45rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#question-box{
    background-color: rgb(160, 160, 160);
    height: 25rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#player-picture {
    background: url(.//images/logo-robot.png);
    background-position: center;
    background-size: cover;
    height: 10rem;
    width: 10rem;
}

#question-display {
    background-color:rgb(150, 150, 150);
    height: 15rem;
    width: 30rem;
}

#answer-display {
    background-color:rgb(160, 160, 160);
    height: 15rem;
    width: 30rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.answer {
    background-color:rgb(150, 150, 150);
    height: 4rem;
    width: 11rem;
}

#button-container {
    background-color:rgb(160, 160, 160);
    height: 5rem;
    width: 15rem;
}

#footer-box {
    background-color:rgb(170, 170, 170);
    height: 3rem;
    width: 30rem;
    text-align: center;
}

#correct-popup {
    visibility: hidden;
    background-color:rgb(180, 180, 180);
    height: 5rem;
    width: 5rem;
    position: absolute;
    z-index: 100;
}

#correct-popup .popup {
    visibility: visible;
}

@media only screen and (min-width: 576px) {
    
    #header-box {
        width: 55rem;
    }

    #question-container {
        height: 30rem;
        width: 55rem;
    }

    #footer-box {
        width: 55rem;
    }

    #question-box {
        width: 55rem;
        flex-direction: row;
    }

    #player-picture {
        height: 15rem;
        width: 15rem;
    }

    #answer-display {
        width: 55rem;
    }
}

@media only screen and (min-width: 768px) {

    #header-box {
        width: 75rem;
        font-size: 2.5rem;
    }    

    #question-container {
        height: 60rem;
        width: 75rem;
    }

    #footer-box {
        width: 75rem;
    }

    #question-box {
        width: 75rem;
        font-size: 2.5rem;
    }

    #player-picture {
        height: 25rem;
        width: 25rem;
    }

    #question-display {
        height: 25rem;
        width: 45rem;
    }

    #answer-display {
        width: 75rem;
    }

}